body{
    background-color: palevioletred;
    color: #ffff;
    font-family: cursive;
}

.main{
    background-image: radial-gradient(circle,rgb(89, 126, 220),rgb(17, 17, 78));
    align-items: center;
    margin: 6vh 6vw 1vh 6vw;
    box-shadow: 0px 0px 5px 5px rgb(4, 51, 86) ;
  

    
}

form{
    text-align: center;
}

nav{
    top: 5vh;
     text-align: center;
     opacity: 0.8;
     font-weight:1000;
     color: rgb(244, 85, 164); 
     font-size: large;
    
}


.hello{
    color: rgb(225, 101, 180);
    font-weight: bold;
    font-size: larger;
    
}

.text{
    text-align: center;

}


input{
    background-color: rgb(124, 146, 206);
    color: #ffffff;
    border-radius: 0.5rem;
    width: 20vw;
    height: 4vh;
    margin: 0.5rem;
    
}


::placeholder{
    color: #ffffff;
    font-family: cursive;
}

textarea{
    background-color: rgb(124, 146, 206);
    left: 100px;
}

button{
    background-color: rgb(244, 48, 172);
    border-radius: 7px;
    width: 5rem;
    height: 2rem;
    color: white;
    font-weight: bold;
    align-items: center !important;
    
}

a{
    color: orange;
    font-size: small;
}

.follow{
    font-weight: bolder;
    font-size: large;
    text-align: center;
    
}

fieldset{
   border:thick ridge pink;
   background-image: linear-gradient(to right , rgb(244, 48, 172),pink) ;
   text-align: left;
}

legend{
    
}